<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoRecicla"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainCategories"
            android:exported="false"/>
        <activity android:name=".MainHome"
            android:exported="false"/>
        <activity android:name=".MainRegistration"
            android:exported="false"/>
        <activity android:name=".MainStatistics"
            android:exported="false"/>
        <activity android:name=".MainTips"
            android:exported="false"/>
        <activity android:name=".MainPlastic"
            android:exported="false"/>
        <activity android:name=".MainPaper"
            android:exported="false"/>
        <activity android:name=".MainGlass"
            android:exported="false"/>
        <activity android:name=".MainNoRecyclable"
            android:exported="false"/>
        <activity android:name=".MainHomeRegistration"
            android:exported="false"/>
        <activity android:name=".MainPrice"
            android:exported="false"/>
        <activity android:name=".MainTipsOne"
            android:exported="false"/>
        <activity android:name=".MainTipsTwo"
            android:exported="false"/>
        <activity android:name=".MainTipsThree"
            android:exported="false"/>
    </application>

</manifest>